* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 100%;
    height: 80vh;
    background-color: black;
    overflow: hidden;
}

.symbol {
    position: absolute;
    color: rgba(255, 255, 255);
    font-weight: bold;
    animation: float linear infinite;
}
@keyframes float {
    0% {
        transform: translateY(100vh) scale(0.8);
        opacity: 0.1;
    }
    50% {
        opacity: 0.4;
    }
    100% {
        transform: translateY(-100vh) scale(1.5);
        opacity: 0;
    }
}

table, tr, td {
    margin-left: 600px;
    margin-top: 150px;
    width: 350px;
    height: 50px;
    font-size: large;
}

table {
    position: relative;
    z-index: 1;
    background-color: aqua;
    border: 1px solid black;
    border-radius: 5px;
}

#name_box {
    text-align: center;
}

#output_box {
    border: 1px solid white;
    background-color: black;
    color: white;
    border-radius: 5px;
}

input {
    width: 100%;
    height: 100%;
    font-size: large;
    border-radius: 4px;
}

input:hover {
    background-color: rgb(176, 176, 176);
}